html, body {
    width: 100%;
    height: 100%;
}
.bx-wrapper, .bx-viewport, .slider{
    width: 100%;
    height: 100%;
}
.background__01{
    width: 100%;
    height: 100%;
    background: url("../images/a.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.background__02{
    width: 100%;
    height: 100%;
    background: url("../images/b.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.background__03{
    width: 100%;
    height: 100%;
    background: url("../images/c.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
/* no repeat: 이미지를 반복하지 말라는 것이므로 탁한 검은색을 이용할 때는 사용 X */
.overlay{
    width: 100%;
    height: 100%;
    background: url("../images/16.png");
    position: absolute;
    top: 0;
    z-index: 10;
}
/* absolute: 공중에 뜬 상태 */
/* z-index: 10 - 0(기존값)보다 10이 더 크기때문에 위에 위치하게 된다. */

.contents{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.contents__name{
    font-size: 64px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.contents__job{
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}

.contents__list {
    font-size: 0;
}
.contents__list > li{
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    /* line-height == height - 수직 중앙 정렬 */
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 20px;
}
.contents__list > li:last-child{
    margin-right: 0;
}
.contents__list > li > a{
    color: white;
}
/* color: inherit; 부모가 갖고 있는 색을 상속해라 */